{% extends 'admin/admin_base.html' %}

{% block title %}Add Car{% endblock %}

{% block page_title %}Add New Car{% endblock %}

{% block content %}

<div class="content">

<div class="card shadow">

<div class="card-body">

<form method="POST" enctype="multipart/form-data">

{% csrf_token %}

<div class="form-group">
<label>Car Name</label>
<input
type="text"
class="form-control"
name="car_name"
required>
</div>

<div class="form-group">
<label>Description</label>
<textarea
class="form-control"
rows="4"
name="car_desc"
required></textarea>
</div>

<div class="form-group">
<label>Price Per Day</label>
<input
type="number"
class="form-control"
name="price"
required>
</div>

<div class="form-group">
<label>Car Image</label>
<input
type="file"
class="form-control"
name="image"
required>
</div>

<button class="btn btn-success">

Save Car

</button>

<a href="{% url 'admin_cars' %}"
class="btn btn-secondary">

Cancel

</a>

</form>

</div>

</div>

</div>

{% endblock %}